In [2]:
import pandas as pd

In [8]:
df=pd.read_csv("diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
2455,3,126,88,41,235,39.3,0.704,27,0
2456,4,123,62,0,0,32.0,0.226,35,1
2457,1,80,74,11,60,30.0,0.527,22,0
2458,1,96,64,27,87,33.2,0.289,21,0
2459,6,105,70,32,68,30.8,0.122,37,0

# Find the total number of entries

In [13]:
df.info

<bound method DataFrame.info of       Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0               6      148             72             35        0  33.6
1               1       85             66             29        0  26.6
2               8      183             64              0        0  23.3
3               1       89             66             23       94  28.1
4               0      137             40             35      168  43.1
...           ...      ...            ...            ...      ...   ...
2455            3      126             88             41      235  39.3
2456            4      123             62              0        0  32.0
2457            1       80             74             11       60  30.0
2458            1       96             64             27       87  33.2
2459            6      105             70             32       68  30.8

      DiabetesPedigreeFunction  Age  Outcome
0                        0.627   50        1
1                        0.351   31        0
2                        0.672   32        1
3                        0.167   21        0
4                        2.288   33        1
...                        ...  ...      ...
2455                     0.704   27        0
2456                     0.226   35        1
2457                     0.527   22        0
2458                     0.289   21        0
2459                     0.122   37        0

[2460 rows x 9 columns]>

# check if there is any null values

In [22]:
df.isnull().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [14]:
df.shape

(2460, 9)

In [15]:
df.size

22140

In [16]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

# 1 Describe the data

In [17]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000
mean,3.817480,121.602033,68.915041,20.531301,80.119919,31.990447,0.491440,32.821951,0.390244
std,3.296458,31.789270,19.082655,15.716901,116.765807,7.802569,0.363917,11.251208,0.487904
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,100.000000,64.000000,0.000000,0.000000,27.100000,0.251750,24.000000,0.000000
50%,3.000000,117.000000,70.000000,23.000000,36.000000,32.100000,0.381000,29.000000,0.000000
75%,6.000000,142.000000,80.000000,33.000000,129.000000,36.500000,0.647000,39.000000,1.000000
max,17.000000,197.000000,122.000000,63.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
#the highest number pf pregnencies is 17.highest glucose level is 197 and BMI is 67

# 2# Find the number of persons having glucose>70

In [18]:
df[df["Glucose"]>70]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
2455,3,126,88,41,235,39.3,0.704,27,0
2456,4,123,62,0,0,32.0,0.226,35,1
2457,1,80,74,11,60,30.0,0.527,22,0
2458,1,96,64,27,87,33.2,0.289,21,0
2459,6,105,70,32,68,30.8,0.122,37,0

In [19]:
df.axis=0

# 3What is the BMI  and Age of the persons having  glucose>180

In [129]:
df[df["Glucose"]>180].loc[:,["Age","BMI"]]

      Age   BMI
1515   31  36.7
408    39  25.9
1972   39  25.9
1918   53  30.5
1712   31  36.7
...   ...   ...
2032   38  34.1
1343   38  34.1
1998   38  34.1
486    38  34.1
1993   38  34.1

[130 rows x 2 columns]

# 4Group by Outcome

In [27]:
df.groupby("Outcome").mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.242000,110.413333,67.852667,19.637333,69.938000,30.066133,0.444710,30.866000
1,4.716667,139.084375,70.575000,21.928125,96.029167,34.997188,0.564455,35.878125

# 5 most number of respondents  from which Age group

In [30]:
df["Age"].value_counts()

Age
21    214
22    203
25    183
24    135
29    122
23    113
26    101
27     98
28     93
41     85
31     84
33     76
30     74
36     69
37     69
42     65
38     61
32     49
34     46
43     41
40     39
35     37
46     35
51     33
47     27
44     26
39     26
45     24
58     24
57     21
60     19
50     17
54     15
65     15
49     14
52     14
62     13
63     11
55     10
48      9
61      9
56      8
81      7
72      6
66      5
59      5
69      4
53      4
67      2
Name: count, dtype: int64

# 6.find the number of women with zero pregnency but diabetic,and find her BMI ,AGE,Blood pressure

In [32]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [40]:
df[(df["Pregnancies"]==0) & (df["Outcome"]==1)].loc[:,["BMI","Age","BloodPressure"]]

       BMI  Age  BloodPressure
4     43.1   33             40
16    45.8   31             84
45    42.0   25             66
66    32.5   38             88
78    43.2   26              0
...    ...  ...            ...
2358  37.4   24             85
2400  37.4   24             85
2427  33.6   22             64
2436  31.6   32             88
2441  34.3   22             66

[143 rows x 3 columns]

# 7. If BMI is greater than 30,find their age

In [73]:
filt=df["BMI"]>30

In [74]:
df.loc[filt,"Age"]

1515    31
1918    53
1712    31
1598    31
228     31
        ..
349     37
645     37
1511    22
973     22
935     37
Name: Age, Length: 1523, dtype: int64

# 8 How many having diabetes below age 25

In [51]:
df[(df['Age']<25) & (df['Outcome']==1)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
109,0,95,85,25,36,37.4,0.247,24,1
110,3,171,72,33,135,33.3,0.199,24,1
124,0,113,76,0,0,33.3,0.278,23,1
197,3,107,62,13,48,22.9,0.678,23,1
213,0,140,65,26,130,42.6,0.431,24,1
...,...,...,...,...,...,...,...,...,...
2371,2,102,86,36,120,45.5,0.127,23,1
2400,0,95,85,25,36,37.4,0.247,24,1
2427,0,104,64,37,64,33.6,0.510,22,1
2441,0,131,66,40,0,34.3,0.196,22,1
2442,2,102,86,36,120,45.5,0.127,23,1

# 9Response of first 20 respondents with "Pregnancies" ,"BMI","Glucose","Outcome"

In [52]:
df.loc[:20,["Pregnancies","BMI","Glucose","Outcome"]]

    Pregnancies   BMI  Glucose  Outcome
0             6  33.6      148        1
1             1  26.6       85        0
2             8  23.3      183        1
3             1  28.1       89        0
4             0  43.1      137        1
5             5  25.6      116        0
6             3  31.0       78        1
7            10  35.3      115        0
8             2  30.5      197        1
9             8   0.0      125        1
10            4  37.6      110        0
11           10  38.0      168        1
12           10  27.1      139        0
13            1  30.1      189        1
14            5  25.8      166        1
15            7  30.0      100        1
16            0  45.8      118        1
17            7  29.6      107        1
18            1  43.3      103        0
19            1  34.6      115        1
20            3  39.3      126        0

# 10.Rename the Column "Outcome"

In [53]:
ds=df.copy()

In [55]:
ds.rename(columns={"Outcome":"Diabetic"},inplace=True)

# 11.update the values of Outcome column into YES/No

In [70]:
df["Diabetic"].map({1:"Yes",2:"No"})

1515    NaN
408     Yes
1972    Yes
1918    Yes
1712    NaN
       ...
1511    NaN
973     NaN
2398    NaN
1720    NaN
935     Yes
Name: Diabetic, Length: 2460, dtype: object

# 12.sort the data on the basis of highest glucose level recorded

In [71]:
df.sort_values(by="Glucose",ascending=False)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diabetic
1515,4,197,70,39,744,36.7,2.329,31,0
1023,8,197,74,0,0,25.9,1.191,39,1
408,8,197,74,0,0,25.9,1.191,39,1
668,4,197,70,39,744,36.7,2.329,31,0
574,4,197,70,39,744,36.7,2.329,31,0
...,...,...,...,...,...,...,...,...,...
1580,1,0,74,20,23,27.7,0.299,21,0
75,1,0,48,20,0,24.7,0.140,22,0
2171,5,0,80,32,0,41.0,0.346,37,1
1200,1,0,68,35,0,32.0,0.389,22,0
935,5,0,80,32,0,41.0,0.346,37,1

# 13. Find number of respondents likely to be diabetic in future

In [85]:
df[(df["DiabetesPedigreeFunction"]>2)].loc[:,["Pregnancies","Glucose","SkinThickness","BMI","Age"]]

      Pregnancies  Glucose  SkinThickness   BMI  Age
1515            4      197             39  36.7   31
1712            4      197             39  36.7   31
1598            4      197             39  36.7   31
228             4      197             39  36.7   31
2180            4      197             39  36.7   31
2211            4      197             39  36.7   31
982             4      197             39  36.7   31
731             4      197             39  36.7   31
574             4      197             39  36.7   31
668             4      197             39  36.7   31
1989            0      180             63  59.4   25
1188            0      180             63  59.4   25
2305            0      180             63  59.4   25
1429            0      180             63  59.4   25
445             0      180             63  59.4   25
2076            3      173             48  38.4   25
2206            3      173             48  38.4   25
370             3      173             48  38.4   25
2000            3      173             48  38.4   25
1642            0      137             35  43.1   33
4               0      137             35  43.1   33
1026            0      137             35  43.1   33
839             0      137             35  43.1   33
826             0      137             35  43.1   33

# 14. find Women who are diabetic with atleast one pregnancy,also find their skin thickness,bmi and age

In [88]:
df[(df["Pregnancies"]>=1) & (df["Diabetic"]==1)].loc[:,["Pregnancies","BMI","Age","SkinThickness"]]

      Pregnancies   BMI  Age  SkinThickness
408             8  25.9   39              0
1972            8  25.9   39              0
1918            2  30.5   53             45
1023            8  25.9   39              0
1227            2  30.5   53             45
...           ...   ...  ...            ...
1666            5  41.0   37             32
2171            5  41.0   37             32
349             5  41.0   37             32
645             5  41.0   37             32
935             5  41.0   37             32

[817 rows x 4 columns]

# 15.find no.of diabetic respondents whose skin thicness greater than 18 and blood pressure>79

In [89]:
df[(df['SkinThickness']>18) & (df['BloodPressure']>79)].loc[:,:]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diabetic
2087,0,189,104,25,0,34.3,0.435,41,1
440,0,189,104,25,0,34.3,0.435,41,1
1911,0,189,104,25,0,34.3,0.435,41,1
1423,0,189,104,25,0,34.3,0.435,41,1
533,7,184,84,33,0,35.5,0.355,41,1
...,...,...,...,...,...,...,...,...,...
1666,5,0,80,32,0,41.0,0.346,37,1
2171,5,0,80,32,0,41.0,0.346,37,1
349,5,0,80,32,0,41.0,0.346,37,1
645,5,0,80,32,0,41.0,0.346,37,1
935,5,0,80,32,0,41.0,0.346,37,1

# 16.find the number of high risk diabetic patients

In [94]:
df[(df['Pregnancies']>=1) & (df['BMI']>30) & (df["Age"]>45) & (df["BloodPressure"]>79) &(df["SkinThickness"]>18) & (df["Diabetic"]==1)].loc[:,:]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diabetic
1704,7,181,84,21,192,35.9,0.586,51,1
236,7,181,84,21,192,35.9,0.586,51,1
1787,7,181,84,21,192,35.9,0.586,51,1
2261,7,181,84,21,192,35.9,0.586,51,1
2279,8,176,90,34,300,33.7,0.467,58,1
53,8,176,90,34,300,33.7,0.467,58,1
499,8,176,90,34,300,33.7,0.467,58,1
937,8,176,90,34,300,33.7,0.467,58,1
2134,8,176,90,34,300,33.7,0.467,58,1
2448,8,176,90,34,300,33.7,0.467,58,1
2077,8,176,90,34,300,33.7,0.467,58,1
1530,8,176,90,34,300,33.7,0.467,58,1
511,8,176,90,34,300,33.7,0.467,58,1
630,8,176,90,34,300,33.7,0.467,58,1
43,9,171,110,24,240,45.4,0.721,54,1
1859,9,171,110,24,240,45.4,0.721,54,1
925,9,171,110,24,240,45.4,0.721,54,1
2197,10,148,84,48,237,37.6,1.001,51,1
1178,10,148,84,48,237,37.6,1.001,51,1
888,10,148,84,48,237,37.6,1.001,51,1
458,10,148,84,48,237,37.6,1.001,51,1
1737,5,144,82,26,285,32.0,0.452,58,1
2104,5,144,82,26,285,32.0,0.452,58,1
986,5,144,82,26,285,32.0,0.452,58,1
1141,5,144,82,26,285,32.0,0.452,58,1
388,5,144,82,26,285,32.0,0.452,58,1
546,11,143,94,33,146,36.6,0.254,51,1
2117,11,143,94,33,146,36.6,0.254,51,1
1521,11,143,94,33,146,36.6,0.254,51,1
1125,11,143,94,33,146,36.6,0.254,51,1
1769,11,143,94,33,146,36.6,0.254,51,1
1630,11,143,94,33,146,36.6,0.254,51,1
1055,11,143,94,33,146,36.6,0.254,51,1
24,11,143,94,33,146,36.6,0.254,51,1
2277,12,140,82,43,325,39.2,0.528,58,1
1674,12,140,82,43,325,39.2,0.528,58,1
375,12,140,82,43,325,39.2,0.528,58,1
2430,12,140,82,43,325,39.2,0.528,58,1
1534,6,134,80,37,370,46.2,0.238,46,1
231,6,134,80,37,370,46.2,0.238,46,1
2035,6,134,80,37,370,46.2,0.238,46,1

# 17.sort values by highest glucose,bmi,age

In [102]:
df.sort_values(["Glucose","BMI","Age"],ascending=[False,False,False])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diabetic
1515,4,197,70,39,744,36.7,2.329,31,0
1712,4,197,70,39,744,36.7,2.329,31,0
1598,4,197,70,39,744,36.7,2.329,31,0
228,4,197,70,39,744,36.7,2.329,31,0
2180,4,197,70,39,744,36.7,2.329,31,0
...,...,...,...,...,...,...,...,...,...
1797,1,0,74,20,23,27.7,0.299,21,0
1720,1,0,74,20,23,27.7,0.299,21,0
75,1,0,48,20,0,24.7,0.140,22,0
1613,1,0,48,20,0,24.7,0.140,22,0
2398,1,0,48,20,0,24.7,0.140,22,0

In [103]:
df["Glucose"].max()

197

In [109]:
df["Age"].min()

21

In [ ]:
1

In [111]:
df["BloodPressure"].nlargest(10)

1381    122
106     122
1964    122
1765    122
43      110
1859    110
925     110
177     110
1297    110
2303    110
Name: BloodPressure, dtype: int64

In [115]:
df["BMI"].nlargest(5)

177     67.1
1297    67.1
2303    67.1
1989    59.4
1188    59.4
Name: BMI, dtype: float64

# 18.Smallest 10 BMI 's

In [116]:
df["BMI"].nsmallest(10)

1637    0.0
526     0.0
776     0.0
2453    0.0
2435    0.0
2016    0.0
9       0.0
2264    0.0
2175    0.0
906     0.0
Name: BMI, dtype: float64

# 19. Average glucose value

In [118]:
df["Glucose"].mean()

121.60203252032521

# 20 find age and insulin of diabetic patients having skinthickness>18

In [138]:
df[(df["Diabetic"]==1) & (df["SkinThickness"]>18)].loc[:,["Age","BMI"]]

      Age   BMI
1918   53  30.5
1227   53  30.5
1980   53  30.5
8      53  30.5
359    29  36.5
...   ...   ...
1666   37  41.0
2171   37  41.0
349    37  41.0
645    37  41.0
935    37  41.0

[605 rows x 2 columns]